/* UI simple select
--------------------------------------------------------- */
.ui-select-simple {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-top: -32px;
    min-height: 32px;
    opacity: 0;
    position: relative;
    width: 190px;
    z-index: 5;
}

.ui-select-simple option {
    font-size: 11px;
    color: #333;
    padding: 0 3px;
}

.ui-labr-simpleselect {
    background: url("../img/select_arrow.png") no-repeat scroll 195px 12px #FFFFFF;
    border: 1px solid #545659;
    display: block;
    font-size: 14px;
    /*height: 20px;*/
    padding: 5px 20px 5px 10px;
    width: 181px;
}
    